.navbar-brand{
    width:20%;
}
.nav-item{
    padding-right:60px;
}
h2{
    text-align: center;
    padding-top:35px;
}
table {
    border: medium solid #000000;
    width: 100%;
    }
    td, th {
    border: thin solid #000000;
    width: 50%;
    }
.card-img-top{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.8;
}

.card-img-top:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    z-index:2;
    opacity: 1.0; 
    -webkit-transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    transition: opacity 900ms;
}
.rew1{
    font-size:30px;
    position: absolute;
    text-align: center;
    top:80px;
    left:30px;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 20px;
    border-radius: 20px;
}

.coin{
    color:orange;
}